.match {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.match__description {
    position: relative;
    margin: 0 auto auto;
    min-height: 100px;
    padding-left: 72px;
    padding-right: 32px;
    text-align: left;
    max-width: var(--max-content-width);
    font-size: 18px;
    line-height: 24px;
}

/*.match__description_active {*/
/*    opacity: 1;*/
/*    transform: translateY(0);*/
/*    transition: transform 0.2s var(--anim-time) ease, opacity 0.2s var(--anim-time) ease;*/
/*}*/

.match__description-icon {
    position: absolute;
    left: 40px;
    top: 0;
    width: 20px;
}

.match__trigger {
    margin-top: auto;
}

.match__fire {
    margin-top: 24px;
}

.match__fire_searching {
    margin-top: auto;
}

.match_duo .match__description {
    color: var(--duo);
}

.match_trio .match__description {
    color: var(--trio);
}

