.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  padding: 0 16px;
  flex-direction: column;
  background-image: linear-gradient(to top, rgba(var(--duo-rgb), 0.2) 0%, rgba(31, 116, 224, 0) 100%);
}

.App_trio {
  background-image: linear-gradient(to top, rgba(var(--trio-rgb), 0.2) 0%, rgba(31, 116, 224, 0) 100%);
}

.App-logo {
  height: 40vmin;
  margin-top: 40px;
  max-width: 300px;
  pointer-events: none;
}

.App-logo_logged {
  height: auto;
  margin-top: 56px;
  max-width: 72px;
}

.App-logo-duck {
  width: 100px;
  margin: auto;
}

.App-login {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.App-content {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
}

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-footer {
  padding: 56px 0 32px;
}

.App-footer__text {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}

.App-footer__text_team {
  margin-top: 8px;
}

.team-link {
  color: var(--duo);
  text-decoration: none;
}

.App_duo .team-link {
  color: var(--duo);
}

.App_trio .team-link {
  color: var(--trio);
}
