.App {
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(to top, rgba(31, 116, 224, 0.2) 0%, rgba(31, 116, 224, 0) 100%);
  display: flex;
  padding: 0 16px;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content__row {
  width: 100%;
  margin-top: 24px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-content {
  margin-top: auto;
}

.App-footer {
  padding: 56px 0 32px;
}

.App-footer__text {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}

.App-footer__text_team {
  margin-top: 8px;
}

.team-link {
  color: #1F74E0;
  text-decoration: none;
}