:root {
  --duo: #1F74E0;
  --trio: #0CB5CC;
  --duo-rgb: 31, 116, 224;
  --trio-rgb: 12, 181, 204;
  --anim-time: 0.3s;
  --anim-bg: background-color var(--anim-time) ease;
  --anim-color: color var(--anim-time) ease;
  --anim-color-delay: color var(--anim-time) 0.25s ease;
  --max-content-width: 360px;
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, select, input {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, *::after, *::before {
  box-sizing: border-box;
}
